.font-sm {
  font-size: var(--fs-sm);
}
.font-md {
  font-size: var(--fs-md);
}
.font-lg {
  font-size: var(--fs-lg);
}
.font-xlg {
  font-size: var(--fs-xlg);
}
.font-500 {
  font-weight: var(--fw-500);
}
.font-600 {
  font-weight: var(--fw-600);
}
.font-700 {
  font-weight: var(--fw-700);
}
.font-800 {
  font-weight: var(--fw-800);
}
.font-900 {
  font-weight: var(--fw-900);
}
