:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --primary-family: "Epilogue", sans-serif;
  --fs-sm: 16px;
  --fs-md: 24px;
  --fs-lg: 32px;
  --fs-xlg: 48px;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --radius: 10px;
  --box-shadow: rgb(0 0 0/0.1);
}
